<h3>Accounts:</h3>
	<div>
		<% if user_signed_in? %>
			<%= link_to 'Not '+current_user.email+'?',destroy_user_session_path, :method => :delete %>
		<% else %>
			<%= link_to 'Sign In', new_user_session_path %> | <%= link_to 'Register', new_user_registration_path %>
		<% end %>
	</div>
	<div class="notice"><%= notice %></div>
	<div class="alert"><%= alert %></div>

<h3>Previous API Calls:</h1>
	<div id="caches"><%= render "caches" %></div>

<h3>New API Calls:</h3>
	<%= form_tag("/proxy", method: "get",remote:true) do %>
		<table>
			<tr>
				<td><%= label_tag(:timeout, "Timeout (sec): ") %></td>
				<td><%= text_field_tag(:timeout) %></td>
			</tr>
			<tr>
				<td><%= label_tag(:url, "URL:") %></td>
				<td><%= text_field_tag(:url) %></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><%= submit_tag("Submit") %></td>
			</tr>
		</table>
	<% end %>

<h3>Output: </h3>
	<div id="output"><%= render "output" %></div>
